:root {
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232428;
  --mainYellow: #ffa400;
  --mainRose:  #fa8677;
}
body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.navbar {
  background-color: rgb(148, 78, 73) !important;
  align-items: center;
}
.navbarText {
  font-size: 14px;
  color: #cecdcd !important;
  font-family: "Courier New",Courier,monospace;
  
}
.navbarText1 {
  font-size: 14px;
  color: #cecdcd !important;
  font-family: "Courier New",Courier,monospace;
  
}
.launchTitle {
  color: #af3f31 !important;
  font-family: "Courier New",Courier,monospace;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.3rem;
  
}
.flower {
  padding-top: 140px;
  padding-left: 40px;
  margin-bottom: 40px;
}

.launchTitle-about {
  color: #bb5c4f !important;
  font-family: "Courier New",Courier,monospace;
  font-size: 24px;
  letter-spacing: 0.3rem;
  border: 0.1rem solid var(--mainDark) !important;
  background-color: rgb(36, 33, 33);
}
.about {
  color: #692c24 !important;
  font-family: "Courier New",Courier,monospace;
  font-size: 12px;
  letter-spacing: 0rem;
  border: 0.1rem solid var(--mainDark) !important;
  background-color: white;
  justify-content: center;
  align-items: center;

}
.quotes {
  color: #692c24 !important;
  font-family: "Courier New",Courier,monospace;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0rem;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 40px;
  text-align: right;
  background-color: white;
}
.brenna {
  color: #bb5c4f !important;
  font-family: "Courier New",Courier,monospace;
  font-size: 36px;
}
.sustain {
  color: #bb5c4f !important;
  font-family: "Courier New",Courier,monospace;
  font-size: 24px;
}
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius:0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor:pointer;
  font-size: 1rem;
  color:var(--mainYellow);
}
.cell {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 80%;
  overflow: hidden;
  color: #921f88;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-size: 50px;
  line-height: 10px;
}

.default {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

.cell:hover {
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
}

.shuffle {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 0px 20px 0px 20px;
  width: auto;
  height: auto;
  background: white;
  border: solid 2px #ffaad4;
  border-radius: 7px;
  color: #ffaad4;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 45px;
}

.shuffle:hover {
  background: #f9f9f9;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  padding: 20px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h1 {
  color: #ca6a9a;
  position: absolute;
  font-size: 50px;
  top: 0px;
  font-weight: 600;
  margin: 0;
  max-width: 900px;
  justify-content: bottom;
}
.details h2 {
  color: #ca6a9a;
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.details h3 {
  position: absolute;
  top: 350px;
  bottom: 0px;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  justify-content:right;
}

.details p {
  color: #110f0f;
  font-size: 30px;
  line-height: 14px;
  margin: 0;
  padding-top: 6px;
}

.circle {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: #0e0d0d;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px 70px 30px 70px;
  height: auto;
  display: flex;
}

.grid {
  flex: 1;
}

.ant-btn-primary {
  background-color: #ca6a9a !important;
  border-color: #ca6a9a !important;
}

#background-video{
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vw;
  float: right;
  bottom: 0;
  
  padding: none;
  
  
  }
  #background-video-about{
    object-fit: cover;
    opacity: 0.5;
    min-height: 100vh;
    min-width: 100vw;
    float: right;
    bottom: 0;
    
    padding: none;
    
    
    }
  .viewport-header {
    font-family: "Courier New",Courier,monospace;
    position: fixed;
    height: 50px;
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: left;
    left: 0px;
    top: 150px;
  }
  .viewport-header-about {
    font-family: "Courier New",Courier,monospace;
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;

  }


  .viewpoint-header2 {
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    letter-spacing: 10px;
    position: relative;
    height: 50px;
    
  }
@media only screen and (max-width: 1000px) {
 .details h1 {
    font-size:50px;
  }
  #background-video{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .viewpoint-header{
    position: fixed;
    top: 0;
    align-content: center;
  }
 
  
  .viewpoint-header2 {
    font-size: 8px;
    letter-spacing: 2px; 
    align-items: left;
    justify-content: left;
  }
  .floret1 {
    align-items: left;
  }
  

  .launchTitle {
    color: #c95647 !important;
    letter-spacing: 5px;
  }
  .viewpoint-header3{
    position: fixed;
    top: 100px;
    padding-left: 50px;

  }
  
}